
<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    {% load i18n %}
    {% load static %}

    <title>{% trans "Log-in" %}</title>

    <link rel='stylesheet' href='http://codepen.io/assets/libs/fullpage/jquery-ui.css'>
        <link rel="stylesheet" href="{% static 'css/style1.css' %}" media="screen" type="text/css" />

</head>

<body>

    <div class="login-card">
        <h1><b>{% trans "JD Log-in" %}</b></h1><br>

    <form action="." method="post">
        <input type="text" name="user" placeholder="{% trans 'Enter Username' %}">
        <input type="password" name="pass" placeholder="{% trans 'Enter Password' %}">
        <input type="submit" name="login" class="login login-submit" value="{% trans 'submit' %}">
    </form>

    <div class="login-help">
        <a href="register/">{% trans "Register" %}</a> • <a href="#">{% trans "Forgot Password" %}</a>
    </div>
</div>

    <script src='http://codepen.io/assets/libs/fullpage/jquery_and_jqueryui.js'></script>

</body>

</html>